<div id="info" [style]="style">
  <p>Created by <a href="https://t.me/broccolinet">broccolinet</a> and <a href="https://t.me/hi_melnikov">hi_melnikov</a>
    using <a href="https://github.com/NVlabs/stylegan2-ada-pytorch">[StyleGAN2]</a>
    and <a href="https://github.com/sberbank-ai/ru-gpts">[ruGPT3]</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.rbc.ru/politics/07/09/2021/613740ba9a7947073539cde6">[Info]</a>
  </p>

  <button class="btn btn-danger" onClick="window.location.reload()">НОВЫХ КАНДИДАТОВ!</button>
  <div class="cross" (click)="hide()"> x </div>
</div>