.cross {
  float: right;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  width: auto;
  color: #636261;
  opacity: .7;
}

.cross:hover {
  opacity: 1;
}

#info {
  max-width: 25rem;
  position: absolute;
  top: 1.5rem;
  right: -100px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: white;
  opacity: .8;
  animation: info 0.5s forwards;
  animation-delay: 3s;
  visibility: hidden;
  border: 4px double grey;
}

#info:hover {
  opacity: 1;
}

@keyframes info {
  1% {
    visibility: visible;
  }

  100% {
    right: 2%;
    visibility: visible;
  }
}

.about {
  text-align: right;
}