<div class="label">
  <h2 class="label-main">Выборы депутатов Законодательного Собрания</h2>
  <h2>Сведения о кандидатах</h2>
  <h2>внесенных в избирательный бюллетень</h2>
</div>

<div class="outer">
  <div class="inner">
    <div class="row">
      <div class="col-sm">
        <app-random-photo></app-random-photo>
      </div>
      <div class="col-auto d-none d-sm-inline">
        <div style="height:10%"></div>
        <div class="line"></div>
      </div>
      <div class="col-sm">
        <app-random-photo></app-random-photo>
      </div>
      <div class="col-auto d-none d-sm-inline">
        <div style="height:10%"></div>
        <div class="line"></div>
      </div>
      <div class="col-sm">
        <app-random-photo></app-random-photo>
      </div>
    </div>
  </div>
</div>
<app-info-overlay></app-info-overlay>