.outer {
  border: 4px solid #6A91B9;
  margin: 2%;
  width: 96%;
  max-width: none;
  padding: 0;
}

.inner {
  border: 2px solid #6A91B9;
  margin: 2px;
  padding: 0 10px;
}

.line {
  position: relative;
  width: 1px;
  height: 80%;
  border: 1px solid #6A91B9;
}

.label {
  text-align: center;
  margin-top: 10px;
  color: #5C80A7;
  text-shadow: 0.5px 0 #5C80A7;
  letter-spacing: 1px;
  font-weight: bold;
}

.label-main {
  color: #A36453;
  text-shadow: 0.5px 0 #A36453;
}